/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: unset;
  color: unset;
  font-family: unset;
  font-weight: unset;
  font-size: unset;
  border: unset;
  cursor: unset;
}

body {
  box-sizing: border-box;
  margin: unset;
}

input {
  background-color: unset;
  border: unset;
  color: unset;
  font-family: unset;
  font-size: unset;
  font-weight: unset;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.filter-tag {
  color: white;
  cursor: pointer;
  padding: 0.8rem 1.2rem;
  border: unset;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  display: flex;
  gap: 1rem;
  transition: transform 0.2s ease-in-out;
}
.filter-tag:hover, .filter-tag:focus {
  transform: scale(1.08);
}
.filter-tag i {
  font-size: 1.2rem;
}
.filter-tag--ingredient {
  background-color: #3282F7;
}
.filter-tag--appliance {
  background-color: #68D9A4;
}
.filter-tag--ustensils {
  background-color: #ED6454;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  min-height: 20rem;
  height: 100%;
}
.recipe-card__thumbnail {
  height: 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #C7BEBE;
}
.recipe-card__info-wrapper {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #E7E7E7;
  padding: 1rem;
}
.recipe-card__header {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  margin-bottom: 1.2rem;
}
.recipe-card__time {
  font-weight: 700;
}
.recipe-card__time i {
  margin-right: 0.4rem;
  font-size: 1.2rem;
}
.recipe-card__info {
  display: flex;
  justify-content: space-between;
}
.recipe-card__ingredients {
  margin-right: 3rem;
  font-size: 0.8rem;
}
.recipe-card__ingredients li {
  margin-bottom: 0.2rem;
}
.recipe-card__ingredient {
  font-weight: 700;
}
.recipe-card__description {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  width: 40%;
}

.search-bar {
  position: relative;
}
.search-bar__input {
  box-sizing: border-box;
  width: 100%;
  padding: 1.4rem;
  padding-right: 5rem;
  background-color: #E7E7E7;
  border: unset;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
.search-bar__label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1.4rem;
  font-size: 1.8rem;
}

.filter {
  border-radius: 5px;
  color: #FFFFFF;
  padding: 1.4rem 1rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.filter--ingredient {
  background-color: #3282F7;
}
.filter--appliance {
  background-color: #68D9A4;
}
.filter--ustensils {
  background-color: #ED6454;
}
.filter__input-section {
  display: flex;
  align-items: center;
  gap: 1.1rem;
}
.filter__caret {
  font-size: 1.4rem;
  transition: transform 0.2s ease-in-out;
}
.filter__toggle-dropdown {
  font-weight: 700;
}
.filter__search-input {
  display: none;
  outline: unset;
  font-weight: 700;
}
.filter--active .filter__caret {
  transform: rotate(-180deg);
}
.filter--active .filter__toggle-dropdown {
  display: none;
}
.filter--active .filter__search-input {
  display: block;
}

.banner {
  text-align: center;
  padding: 2rem;
}
.banner a {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}
.banner a:hover, .banner a:focus {
  transform: scale(1.04);
}

main {
  margin: 2rem;
}

.filters-placeholder {
  margin: 2rem 0;
}

.filters-tags-section {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.filters-section {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.no-recipes-found-message {
  padding: 3rem 0;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
.no-recipes-found-message.show {
  display: block;
  opacity: 1;
}

.recipes-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(18rem, (100% - 4rem) / 3), 1fr));
  gap: 2rem 2rem;
}

/*# sourceMappingURL=style.css.map */
