.filter-selector {
  position: relative;
  color: $color-white;
  font-size: 1.1rem;

  &__input-section {
    @include filters-colors;
    border-radius: 5px;
    padding-right: 2.5rem;
  }

  &__open-selector-text {
    font-weight: $font-weight-bold;
    padding: 1.4rem 1rem;
  }

  &__toggle-dropdown {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    text-align: right;
  }

  &__caret {
    padding-top: 0.2rem;
    font-size: 1.4rem;
    transition: transform 0.2s ease-in-out;
  }

  &__search-input {
    padding: 1.4rem 1rem;
    width: 100%;
    display: none;
    outline: unset;
    font-weight: $font-weight-bold;
    &::placeholder{
      color: unset;
      opacity: 0.5;
    }
  }

  // Define results grid parameters
  $results-grid-column-gap: 2rem;
  $results-column-count: 3;
  $results-grid-column-size: 12rem;

  &__results-section {
    @include filters-colors;
    display: none;
    position: absolute;
    z-index: 200;
    border-radius: 0 0 5px 5px;
    width: 100%;

    &-list {
      padding: 0 1rem 1rem;
      display: grid;
      grid-template-columns: repeat($results-column-count, 1fr);
      gap: 0.4rem $results-grid-column-gap;

      &-item {
        display: inline-block;
      }
    }

    &-result {
      cursor: pointer;
      display: inline-block;
      font-weight: $font-weight-regular;
      text-align: left;

      &:hover, &:focus {
        font-weight: $font-weight-bold;
      }
    }
  }

  &--active & {
    &__input-section {
      border-radius: 5px 5px 0 0;

      width: $results-column-count * $results-grid-column-size
        + ($results-column-count - 1) * $results-grid-column-gap;
    }

    &__toggle-dropdown {
      width: unset;
    }

    &__caret {
      transform: rotate(-180deg);
    }

    &__open-selector-text {
      display: none;
    }

    &__search-input {
      display: block;
    }

    &__results-section {
      display: block;
    }
  }
}