main {
  margin: 2rem;
}

.filters-placeholder {
  margin: 2rem 0;
}
.filters-tags-section {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.filters-selectors-section {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.no-recipes-found-message {
  padding: 3rem 0;
  text-align: center;
  font-size: 2rem;
  line-height: 3rem;
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;

  &.show {
    display: block;
    opacity: 1;
  }
}

.recipes-section {
  @include fluid-grid(
    $grid-column-gap: 2rem, 
    $grid-item-min-width: 18rem,
    $max-grid-column-count: 3);
}